@import "tailwindcss";

@theme {
  --color-forest: #005604;
  --color-forest-light: #09ce63;
  --color-dark-green: #1a2f27;
  --color-mid-green: #2d6650;
  --color-caribbean: #246A73;
  --color-dark-cyan: #368F8B;
  --color-cream: #f1efe6;
  --color-dark-bg: #1f211c;
  --color-french-gray: #CDD5DC;
  --color-tigers-eye: #BC6C25;
  --color-dark-purple: #160F29;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}
